header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.cv{
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
    justify-content: center;
}

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
    position: absolute;
    left: 0;
    bottom: 4rem;
    font-size: 1.2rem;
}

.header__socials::before{
    content: "";
    width: 1px;
    height: 2.2rem;
    background-color: var(--color-primary);
}
.header__socials::after{
    content: "";
    width: 1px;
    height: 2.2rem;
    background-color: var(--color-primary);
}

.me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    padding: 3.5rem 1.5rem 1.5rem 1.5rem;
}

.scroll__down{
    position: absolute;
    right: 0rem;
    bottom: 8rem;
    transform: rotate(90deg);
    font-size: 0.9rem;
    font-weight: 400;
}

/*============MEDIUM SCREEN================*/
@media screen and (max-width: 1024px){
    header{
        height: 70vh;
    }
  }
  
  /*============SMALL SCREEN================*/
  @media screen and (max-width: 600px){
    header{
        height: 100vh;
    }
    .header__socials{
        display: none;
    }
    .scroll__down{
        display: none;
    }
  }
